<!DOCTYPE html>
<html>
  <head>
    <title>TrainingJs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <script>
      console.log('lllllll');
      window.addEventListener('keydown', function(event) {
        const audio = document.querySelector(`audio[data-key="${event.keyCode}"]`);
        if(!audio) return;
        audio.currentTime = 0;
        audio.play();
      });
    </script>
  </body>
</html>
